# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.western-cover-shooter.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\komp\western-cover-shooter\.idea\.idea.western-cover-shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
